# Ignore all .exe files
*.exe

# Ignore all .pdf files
*.pdf

# Ignore all .pdf files
*.json

#Ignoring bat files
*.bat

# Other ignored files and directories
/node_modules
/.pytest_cache
/.vscode
/.vs
/bin
/obj
/Testing
*.obj
*.vvp
*.vcd
\venv

#Ignore tempprary file
tempCodeRunnerFile.py

# Won't ignore these .exe files
# !special.exe

# Ignoring Verilog test files
Verilog-Projects/and_gate/and_test
/Coding Challenge

jupyter/.jupyter
jupyter/.ipynb_checkpoints